@charset "utf-8";
/* CSS Document */
.contenedor2{
    margin-top: 300px;
    border-radius: 20px;
    z-index: 3;
    text-shadow: 2px 5px rgba(0,0,0,1.00);
    text-transform: uppercase;
    font-weight: bold;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(255,255,255,1.00);
    font-style: normal;
   
}
.contenedor3{
    margin-top: 200px;
	z-index: 4;
   
}
.separar{
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 60px;
    text-decoration: none;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    margin-left: 10%;
	
}
.separar2{
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 60px;
    text-decoration: none;
    padding-top: 0.4%;
    padding-bottom: 0.4%;

}

.adornar-icon {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-right: 10px;
    padding-left: 10px;
    /* need to play with margin/padding adjustment based on your desired "gap" */ 
    padding-left: 30px;
    /* real borders */ 
    border-left: none;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* the inverse circle "cut" */ 
    background-image: -moz-radial-gradient( -23px 50%, /* the -23px left position varies by your "gap" */ circle closest-corner, /* keep radius to half height */ transparent 0, /* transparent at center */ transparent 55px, /*transparent at edge of gap */ yellow 60px, /* start circle "border" */ white 57px /* end circle border and begin color of rest of background */ );
    background-image: -webkit-radial-gradient(-40px 50%, circle closest-corner, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 55px, yellow 59px, white 57px);
    background-image: -ms-radial-gradient(-23px 50%, circle closest-corner, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 55px, yellow 60px, white 57px);
    background-image: -o-radial-gradient(-23px 50%, circle closest-corner, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 55px, yellow 60px, white 57px);
    background-image: radial-gradient(-23px 50%, circle closest-corner, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 55px, yellow 60px, white 57px);
    font-weight: bold;
}

.adornar-icon2 {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-right: 10px;
    padding-left: 10px;
    /* need to play with margin/padding adjustment based on your desired "gap" */ 
    padding-left: 30px;
    /* real borders */ 
    border-left: none;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* the inverse circle "cut" */ 
    background-image: -moz-radial-gradient( -23px 50%, /* the -23px left position varies by your "gap" */ circle closest-corner, /* keep radius to half height */ transparent 0, /* transparent at center */ transparent 55px, /*transparent at edge of gap */ green 60px, /* start circle "border" */ white 57px /* end circle border and begin color of rest of background */ );
    background-image: -webkit-radial-gradient(-40px 50%, circle closest-corner, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 55px, green 59px, white 57px);
    background-image: -ms-radial-gradient(-23px 50%, circle closest-corner, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 55px, green 60px, white 57px);
    background-image: -o-radial-gradient(-23px 50%, circle closest-corner, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 55px, green 60px, white 57px);
    background-image: radial-gradient(-23px 50%, circle closest-corner, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 55px, green 60px, white 57px);
    font-weight: bold;
}


.logo-fuente {
    height: 4vh;
}




@media (max-width:420px){
.contenedor2{
	    font-size: 2.5em;
}
.contenedor3{
	font-size: 1.8em;
}


}

@media (min-width:700px){

	.contenedor2 {
		font-size: 2.5em;
	}
	.contenedor3 {
		font-size: 2.5em;
	}
}
@media (min-width:1024px){
	.contenedor2 {
	font-size: 3.5em;
}

}
